.flex {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    height: 90vh;
  }

  li:hover {
    cursor: pointer;
  }

table, tbody, tr, th, td{
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}
  